.rules-container {
  padding: 2rem 4rem;

  width: 60%;
}

li {
  list-style: disc;
}
.rules-container a {
  /* width: 66%; */
  text-align: center;
  padding: 1.7rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;

  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .rules-container {
    width: 100%;
  }
  .rules-container ul {
    font-size: 1.5rem;
  }
}
