.pointer {
  cursor: pointer;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.color-success {
  color: var(--color-success);
}
.color-danger {
  color: var(--color-danger);
}
